<style>
  body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-spacing: 0;
  }
  th,
  td {
    padding: 10px;
    text-align: center !important;
  }

  thead {
    position: sticky;
    top: 78px;
    background: #d9d9d9;
    z-index: 5;
  }

  tr {
    border-bottom: 2px solid black;
  }
  th {
    font-weight: bold;
    border-bottom: 3px solid black;
  }

  td {
    color: #333;
  }
  .button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 19px;
    margin-top: 19px;
    position: sticky;
    background: white;
    top: 50px;
    z-index: 10;
    width: 1812px;
  }

  .btn {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border: none;
    background-color: #f8f9fa;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  .btn .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .btn:hover {
    background-color: #f9f9f9;
  }

  .status-completed {
    color: green;
  }

  .status-pending {
    color: orange;
  }

  .status-failed {
    color: red;
  }
  .status-started {
    color: blue;
  }

  .public {
    color: green;
  }

  .private {
    color: red;
  }

  .arrow {
  /* display: flex; */
  align-items: center;
  padding: 0px 0px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

</style>

{% extends "Webpage_Base.html" %} {% block title %}
<title>Submission and Results</title>
{% endblock %} {% block content %}
<div class="button-container">
  <button class="btn">
    <img src="/media/images/filter_icon.jpg" alt="Filter" class="icon" /> Filter
  </button>
</div>
<table>
  <thead>
    <tr>
      <form>
        <th><div>Submission</div><button class="arrow" type="submit", name="order_by", value="id">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-id">&#x25BC</button></th>
        <th><div>Model Name</div><button class="arrow" type="submit", name="order_by", value="model_name">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="model_name">&#x25BC</button></th>
        <th><div>Model Type</div><button class="arrow" type="submit", name="order_by", value="model_type">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="model_type">&#x25BC</button></th>
        <th><div>Status</div><button class="arrow" type="submit", name="order_by", value="status">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="status">&#x25BC</button></th>
        <th><div>Visibility</div><button class="arrow" type="submit", name="order_by", value="visibility">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="visibility">&#x25BC</button></th>
        <th><div>Submitted at</div><button class="arrow" type="submit", name="order_by", value="submitted_at">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="submitted_at">&#x25BC</button></th>
        <th><div>Completed at</div><button class="arrow" type="submit", name="order_by", value="completed_at">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="completed_at">&#x25BC</button></th>
        <th><div>Weighted Error</div><button class="arrow" type="submit", name="order_by", value="weighted_error">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-weighted_error">&#x25BC</button></th>
        <th><div>All Cells</div><button class="arrow" type="submit", name="order_by", value="t1_all_cells">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t1_all_cells">&#x25BC</button></th>
        <th><div>Blind Cells</div><button class="arrow" type="submit", name="order_by", value="t2_blind_cells">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t2_blind_cells">&#x25BC</button></th>
        <th><div>Non-Blinded Cells</div><button class="arrow" type="submit", name="order_by", value="t3_non_blinded_cells">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t3_non_blinded_cells">&#x25BC</button></th>
        <th><div>Charging</div><button class="arrow" type="submit", name="order_by", value="t4_charging">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t4_charging">&#x25BC</button></th>
        <th><div>80kg Payload</div><button class="arrow" type="submit", name="order_by", value="t5_80kg_payload">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t5_80kg_payload">&#x25BC</button></th>
        <th><div>448kg Payload with HVAC</div><button class="arrow" type="submit", name="order_by", value="t5_6_448kg_payload_with_HVAC">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t5_6_448kg_payload_with_HVAC">&#x25BC</button></th>
        <th><div>448kg Payload no HVAC</div><button class="arrow" type="submit", name="order_by", value="t5_6_448kg_payload">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t5_6_448kg_payload">&#x25BC</button></th>
        <th><div>1000kg Payload</div><button class="arrow" type="submit", name="order_by", value="t5_1000kg_payload">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t5_1000kg_payload">&#x25BC</button></th>
        <th><div>Standard Cycles</div><button class="arrow" type="submit", name="order_by", value="t7_standard_cycles">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t7_standard_cycles">&#x25BC</button></th>
        <th><div>Custom Cycles</div><button class="arrow" type="submit", name="order_by", value="t8_custom_cycles">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t8_custom_cycles">&#x25BC</button></th>
        <th><div>n20C</div><button class="arrow" type="submit", name="order_by", value="t9_n20C">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t9_n20C">&#x25BC</button></th>
        <th><div>n10C</div><button class="arrow" type="submit", name="order_by", value="t9_n10C">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t9_n10C">&#x25BC</button></th>
        <th><div>0C</div><button class="arrow" type="submit", name="order_by", value="t9_0C">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t9_0C">&#x25BC</button></th>
        <th><div>10C</div><button class="arrow" type="submit", name="order_by", value="t9_10C">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t9_10C">&#x25BC</button></th>
        <th><div>25C</div><button class="arrow" type="submit", name="order_by", value="t9_25C">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t9_25C">&#x25BC</button></th>
        <th><div>40C</div><button class="arrow" type="submit", name="order_by", value="t9_40C">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t9_40C">&#x25BC</button></th>
        <th><div>iSOC Error</div><button class="arrow" type="submit", name="order_by", value="t10_iSOC_error">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t10_iSOC_error">&#x25BC</button></th>
        <th><div>Current Sensor Error</div><button class="arrow" type="submit", name="order_by", value="t11_current_sensor_error">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-t11_current_sensor_error">&#x25BC</button></th>
        <th><div>All Drive Cycles Average RMSE</div><button class="arrow" type="submit", name="order_by", value="all_drive_cycles_average_RMSE">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-all_drive_cycles_average_RMSE">&#x25BC</button></th>
        <th><div>All Drive Cycles Average MAE</div><button class="arrow" type="submit", name="order_by", value="all_drive_cycles_average_MAE">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-all_drive_cycles_average_MAE">&#x25BC</button></th>
        <th><div>All Drive Cycles Average MAXE</div><button class="arrow" type="submit", name="order_by", value="all_drive_cycles_average_MAXE">&#x25B2</button><button class="arrow" type="submit", name="order_by", value="-all_drive_cycles_average_MAXE">&#x25BC</button></th>
      </form>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>
        <a href="{% url 'submission' submission.id %}">{{ submission.id }}</a>
      </td>
      <td>{{ submission.model_name }}</td>
      <td>{{ submission.get_model_type_display }}</td>
      <td
        class="{% if submission.status.name == 'completed' %}status-completed{% elif submission.status.name == 'pending' %}status-pending{% elif submission.status.name == 'started' %}status-started{% else %}status-failed{% endif %}"
      >
        {{ submission.status }}
      </td>
      <td
        class="{% if submission.visibility == 'public' %}public{% else %}private{% endif %}"
      >
        {{ submission.get_visibility_display }}
      </td>
      <td>{{ submission.submitted_at }}</td>
      <td>{{ submission.completed_at }}</td>
      <td>{{ submission.weighted_error }}</td>
      <td>{{ submission.t1_all_cells }}</td>
      <td>{{ submission.t2_blind_cells }}</td>
      <td>{{ submission.t3_non_blinded_cells }}</td>
      <td>{{ submission.t4_charging }}</td>
      <td>{{ submission.t5_80kg_payload }}</td>
      <td>{{ submission.t5_6_448kg_payload_with_HVAC }}</td>
      <td>{{ submission.t5_6_448kg_payload }}</td>
      <td>{{ submission.t5_1000kg_payload }}</td>
      <td>{{ submission.t7_standard_cycles }}</td>
      <td>{{ submission.t8_custom_cycles }}</td>
      <td>{{ submission.t9_n20C }}</td>
      <td>{{ submission.t9_n10C }}</td>
      <td>{{ submission.t9_0C }}</td>
      <td>{{ submission.t9_10C }}</td>
      <td>{{ submission.t9_25C }}</td>
      <td>{{ submission.t9_40C }}</td>
      <td>{{ submission.t10_iSOC_error }}</td>
      <td>{{ submission.t11_current_sensor_error }}</td>
      <td>{{ submission.all_drive_cycles_average_RMSE }}</td>
      <td>{{ submission.all_drive_cycles_average_MAE }}</td>
      <td>{{ submission.all_drive_cycles_average_MAXE }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function matchWidth() {
      let referenceElement = document.getElementsByTagName("table")[0];
      let targetElement =
        document.getElementsByClassName("button-container")[0];

      targetElement.style.width = referenceElement.offsetWidth + "px";
    }

    matchWidth();

    window.addEventListener("resize", matchWidth);
  });
</script>
{% endblock %}
