{% extends "Webpage_Base.html" %}

{% block title %}
  <title>Registration Form</title>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-sm-8 col-md-6 col-lg-6 form-container" style="margin-left: 450px;">
      <h2 class="text-center">Create An Account</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username*</label>
          <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password*</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" name="first_name" class="form-control">
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" name="last_name" class="form-control">
        </div>
        <button type="submit" class="btn btn-secondary w-100 mb-2">Register</button>
      </form>
    </div>
  </div>
{% endblock %}